.activity {
	padding: 10px;
}

.activity-inner {
	padding-left: 10px;
	background-color: #eeeeee;
}

.activity-header {
	margin-left: 10px;
}

.activity-user-pic {
	width: 50px;
	height: 50px;
	margin: 5px;
}