<style>
    .activity {
        padding: 10px;
    }

    .activity-inner {
        padding-left: 10px;
        background-color: #eeeeee;
    }

    .activity-header {
        margin-left: 10px;
    }

    .activity-user-pic {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
</style>

<section class="row" id="create">
    <h2 class="activity-header">已创建活动</h2>
</section>

<section class="row" id="involve">
    <h2 class="activity-header">待参加活动</h2>
</section>

<section class="row" id="history">
    <h2 class="activity-header">活动历史</h2>
</section>

<script src="/res/js/jquery-3.1.1.min.js"></script>
<script src="/res/js/jquery.tmpl.min.js"></script>
<script>

    //活动模板
    var template =
        '<div class="col-md-4 col-sm-4 col-xs-6 ' +
        'col-xs-offset-3 col-sm-offset-2 col-md-offset-0 activity">' +
        '<div class="activity-inner">' +
        '<p class="text-center">${name}</p>' +
        '<div id="creator${name}${datetime}">' +
        '<p>创建者 </p></div>' +
        '<div id="member${name}${datetime}">' +
        '<p>活动成员</p>' +
        '</div>' +
        '<p>活动时间：${startTime}</p>' +
        '<p>活动地点：${location}</p>' +
        '<p>活动类型：${type}</p>' +
        '</div></div>';

    //图像模板
    var imgTmpl =
        '<span>' +
        '<img src="/res/images/user_img.png" alt="头像"' +
        ' class="activity-user-pic">' +
        '<label>${name}</label></span>';

    //获得数据，生成文档
    function generate(element, result) {
        var arr = JSON.parse(result);
        var len = arr.length;
        for (var i = 0; i < len; ++i) {
            const name = arr[i].name;
            const startTime = arr[i].startTime;
            const datetime = startTime.replace(/[^\d]/g, '');

            $.tmpl(template, {
                "name": name,
                "startTime": startTime,
                "location": arr[i].location,
                "type": arr[i].type,
                "datetime": datetime
            }).appendTo(element);

            $.tmpl(imgTmpl, {
                "name": arr[i].creator
            }).appendTo($('#creator' + name + datetime));

            var p = arr[i].p;
            var p_len = p.length;
            const member = $('#member' + name + datetime);
            for(var j = 0; j < p_len; ++j) {
                $.tmpl(imgTmpl, {
                    "name": p[j].name
                }).appendTo(member);
            }
        }
    }

    //用户创建活动
    $.ajax({
        url: '/controller/ActivityController/getCreated',
        method: 'get',
        success: function (result) {
            generate($('#create'), result);
        }
    });

    //用户参与活动
    $.ajax({
        url: '/controller/ActivityController/getInvolved',
        method: 'get',
        success: function (result) {
            generate($('#involve'), result);
        }
    });

    //用户活动历史
    $.ajax({
        url: '/controller/ActivityController/getHistory',
        method: 'get',
        success: function (result) {
            generate($('#history'), result);
        }
    });
</script>