<style>
    .activity {
        padding: 10px;
    }

    .activity-inner {
        padding-left: 10px;
        background-color: #eeeeee;
    }

    .activity-header {
        margin-left: 10px;
    }

    .activity-user-pic {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
</style>

<section class="row col-md-9" id="main-content">
    <section class="row">
        <h2 class="activity-header">已创建活动</h2>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
    </section>

    <section class="row">
        <h2 class="activity-header">待参加活动</h2>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
    </section>

    <section class="row">
        <h2 class="activity-header">活动历史</h2>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
        <div class="col-md-4 activity">
            <div class="activity-inner">
                <p class="text-center">南大夜跑</p>
                <div>
                    <p>活动成员</p>
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                    <img src="/res/images/user_img.png" alt="头像" class="activity-user-pic">
                </div>
                <p>活动时间：2016-10-3 20:00</p>
                <p>活动时长：2小时</p>
                <p>活动地点：南京大学</p>
                <p>活动类型：夜跑</p>
            </div>
        </div>
    </section>
</section>