<style>
    .state-group {
        margin: 20px 50px;
    }

    .state {
        padding: 0 10px;
        margin: 20px 0;
    }

    .state-inner {
        background-color: #DDDDDD;
    }
</style>

<section>
    <div class="row state-group">
        <div class="col-md-3 col-sm-4 col-xs-6 col-sm-offset-2
        col-xs-offset-3 state">
            <div class="state-inner">
                <br />
                <p class="text-center">今天跑步时长</p>
                <br />
                <p class="text-center">
                    <span id="todayHour"></span>小时<span id="todayMinute"></span>分
                </p>
                <br />
            </div>
        </div>
        <div class="col-md-3 col-md-3 col-sm-4 col-xs-6 col-sm-offset-2
        col-xs-offset-3 state">
            <div class="state-inner">
                <br />
                <p class="text-center">总共跑步时长</p>
                <br />
                <p class="text-center">
                    <span id="allHour"></span>小时<span id="allMinute"></span>分
                </p>
                <br />
            </div>
        </div>
        <div class="col-md-3 col-md-3 col-sm-4 col-xs-6 col-sm-offset-2
        col-xs-offset-3 state">
            <div class="state-inner">
                <br />
                <p class="text-center">今天跑步步数</p>
                <br />
                <p class="text-center">
                    <span id="todaySteps"></span>步
                </p>
                <br />
            </div>
        </div>
        <div class="col-md-3 col-md-3 col-sm-4 col-xs-6 col-sm-offset-2
        col-xs-offset-3 state">
            <div class="state-inner">
                <br />
                <p class="text-center">总共跑步步数</p>
                <br />
                <p class="text-center">
                    <span id="allSteps"></span>步
                </p>
                <br />
            </div>
        </div>
    </div>
</section>

<script>
    //获得用户信息
    $.ajax({
        url: '/controller/ExerciseController/getExerciseStatInfo',
        method: 'get',
        success: function(result) {
            var data = JSON.parse(result);
            var todayTime = data.todaySportTime;
            var todayHour = Math.floor(todayTime / 60);
            var todayMinute = todayTime % 60;
            $('#todayHour').text(todayHour);
            $('#todayMinute').text(todayMinute);

            var allTime = data.allSportTime;
            var allHour = Math.floor(allTime / 60);
            var allMinute = allTime % 60;
            $('#allHour').text(allHour);
            $('#allMinute').text(allMinute);

            $('#todaySteps').text(data.todaySteps);
            $('#allSteps').text(data.allSteps);
        }
    });
</script>
