<style>
    .search {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .id-card {
        margin-top: 20px;
        background-color: #eeeeee;
    }

    .friend-pic {
        width: 80%;
        height: 80px;
        margin: 10px 10%;
    }

    .card-btn {
        width: 72%;
        height: 80%;
        margin: 14% 10%;
    }

    #tip {
        margin-left: 20px;
    }

</style>

<section class="row col-md-9">
    <section class="col-md-8 col-md-offset-2 search">
        <form action="" class="input-group">
            <input class="form-control" type="text"
                   placeholder="输入好友用户名" id="text">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="搜索"
                       id="btn">
            </span>
        </form>
        <br />
        <label id="tip"></label>
    </section>

    <section id="list" class="row"></section>

</section>

<script src="/res/js/jquery.tmpl.min.js"></script>
<script>

    var friends = [];

    function add(e, btn , name) {
        e.preventDefault();
        $.ajax({
            url: '/controller/FriendController/addFriend',
            method: 'post',
            async: false,
            data: {"name": name},
            success: function (result) {
                var vo = JSON.parse(result);
                var tip = $("#tip");
                tip.css('display', 'inline');
                if(vo.success) {
                    tip.css('color', 'green');
                }
                else {
                    tip.css('color', 'red');
                }
                tip.text(vo.message);
                btn.removeClass('btn-success');
                btn.addClass('btn-warning');
                btn.text('删除');
                setTimeout(function () {
                    tip.css('display', 'none');
                    btn.unbind('click');
                    btn.bind('click', function (e){
                        remove(e, btn);
                    });
                }, 2000);
            }
        });
    }

    function remove(e, btn, name) {
        e.preventDefault();
        $.ajax({
            url: '/controller/FriendController/removeFriend',
            method: 'post',
            async: false,
            data: {"name": name},
            success: function (result) {
                var vo = JSON.parse(result);
                var tip = $("#tip");
                tip.css('display', 'inline');
                if(vo.success) {
                    tip.css('color', 'green');
                }
                else {
                    tip.css('color', 'red');
                }
                tip.text(vo.message);
                btn.removeClass('btn-warning');
                btn.addClass('btn-success');
                btn.text('添加');
                setTimeout(function () {
                    tip.css('display', 'none');
                    btn.unbind('click');
                    btn.bind('click', function (e){
                        add(e, btn);
                    });
                }, 2000);
            }
        });
    }

    $('#btn').on('click', function(e) {
        e.preventDefault();
        var key = $('#text').val();
        $.ajax({
            url: '/controller/FriendController/findUserByName',
            method: 'post',
            data: {"name": key},
            success: function (result) {
                //已添加朋友的模板
                var template1 =
                    '<div class="id-card col-xs-8 col-sm-4 col-md-3 ' +
                    'col-xs-offset-2">' +
                    '<img class="friend-pic" src="/res/images/user_img.png" alt="用户头像">' +
                    '<p class="text-center">${name}</p>' +
                    '<button class="btn btn-warning card-btn" id="${id}">删除</button></div>';
                //未添加朋友的模板
                var template2 =
                    '<div class="id-card col-xs-8 col-sm-4 col-md-3 ' +
                    'col-xs-offset-2">' +
                    '<img class="friend-pic" src="/res/images/user_img.png" alt="用户头像">' +
                    '<p class="text-center">${name}</p>' +
                    '<button class="btn btn-success card-btn" id="${id}">添加</button></div>';

                //显示搜索结果
                var list = JSON.parse(result);
                var section = $('#list');
                section.html('');
                var len = list.length;
                for (var i = 0; i < len; ++i) {
                    const name = list[i].name;
                    //显示好友
                    if(friends.indexOf(name) != -1) {
                        $.tmpl(template1, {
                            "name": name,
                            "id": 'btn-' + name
                        }).appendTo(section);
                        //删除好友按钮的点击事件监听
                        const btn = $('#btn-' + name);
                        btn.on('click', function (e) {
                            remove(e, btn, name);
                        });
                    }
                    //显示未添加用户
                    else {
                        $.tmpl(template2, {
                            "name": name,
                            "id": "btn-" + name
                        }).appendTo(section);
                        //添加好友按钮的点击事件监听
                        const btn = $('#btn-' + name);
                        btn.on('click', function (e) {
                            add(e, btn, name);
                        });
                    }
                }
            }
        });
    });

    var section = $('#list');
    function getFriends() {
        section.html('');
        $.ajax({
        url: '/controller/FriendController/getFriends',
        method: 'get',
        success: function (result) {
                var markup =
                        '<div class="id-card col-md-3 col-sm-4 col-xs-8 ' +
                        'col-xs-offset-2">' +
                        '<img class="friend-pic" src="/res/images/user_img.png" alt="用户头像">' +
                        '<p class="text-center">${name}</p></div>';
                var list = JSON.parse(result);
                var len = list.length;
                friends = [];
                for (var i = 0; i < len; ++i) {
                    $.tmpl(markup, {"name": list[i].name}).appendTo(section);
                    friends.push(list[i].name);
                }
            }
        });
    }

    getFriends();


</script>

