<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="coW3BBjOcc" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>SportNet</title>
    <link rel="stylesheet" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/css/style.css">

    <style>
        #user_pic {
            width: 150px;
            height: 150px;
        }

        #user_name {
            color: #41add8;
            margin: 0 auto 40px;
        }

        .aside-btn {
            width: 60%;
            margin-top: 15px;
            margin-bottom: 15px;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-default" id="nav-bar">

    </nav>

    <main class="container">
        <aside class="row col-md-3 ">
            <img id="user_pic" src="/res/images/user_img.png"
                 class="center-block" alt="头像">
            <p class="text-center" id="user_name"></p>
            <button class="btn btn-default center-block aside-btn"
                    onclick="showExerciseState();">运动状态</button>
            <button class="btn btn-default center-block aside-btn"
                    onclick="showFriendsManagement();">好友管理</button>
            <button class="btn btn-default center-block aside-btn"
                    onclick="showActivityManagement();">活动管理</button>
            <button class="btn btn-default center-block aside-btn"
                    onclick="showTracks();">个人动态</button>
        </aside>

        <section class="row col-md-9" id="main-content"></section>

    </main>

    <script src="/res/js/jquery-3.1.1.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script>

        function showExerciseState() {
            $.get('/html/exercise_part.html', function(data) {
                $('#main-content').html(data);
            });
        }

        function showFriendsManagement() {
            $.get('/html/friend_part.html', function (data) {
                $('#main-content').html(data);
            });
        }

        function showActivityManagement() {
            $.get('/html/activity_part.html', function (data) {
                $('#main-content').html(data);
            });
        }

        function showTracks() {
            $.get('/html/track_part.html', function (data) {
                $('#main-content').html(data);
            });
        }

        $.ajax({
            url: '/html/navbar.html',
            method: 'get',
            success: function (result) {
                $('#nav-bar').html(result);
            }
        });

        $.ajax({
            url: '/controller/UserController/getCurrentUser',
            method: 'get',
            success: function (result) {
                var vo = JSON.parse(result);
                $('#user_name').text(vo.name);
            }
        });

        showExerciseState();
    </script>

</body>
</html>
