<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">SportNet</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active" id="nav-home">
                <a href="javascript:void(0);"
                   onclick="jump('/html/home.html');"
                >主页</a>
            </li>
            <li id="nav-track">
                <a href="javascript:void(0);"
                   onclick="jump('/html/track.html');"
                >动态</a>
            </li>
            <li id="nav-activity">
                <a href="javascript:void(0);"
                   onclick="jump('/html/activity.html');"
                >活动</a>
            </li>
            <li id="nav-statistics">
                <a href="javascript:void(0);"
                   onclick="jump('/html/statistics.html');"
                >统计</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0);"
                onclick="quit();"
            >退出</a></li>
        </ul>
    </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->

<script>

    function jump(location) {
        window.location = location;
    }

    function quit() {
        $.ajax({
            url: '/controller/AccountController/logout',
            method: 'get',
            success: function () {
                window.location = '/templates/login.html';
            }
        })
    }
</script>