<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>SportNet</title>
    <link rel="stylesheet" href="/res/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/css/style.css">

    <style>

        .input-container {
            width: 46%;
            margin: 30px 27%;
        }

        .btn-container {
            width: 52%;
            margin: 30px 24%;
            display: flex;
            direction: rtl;
        }

        #login, #tip {
            margin-left: 30px;
            margin-right: 30px;
            padding-top: 8px;
        }

        #tip {
            color: red;
        }

        #header {
            margin-top: 100px;
        }

    </style>
</head>
<body>
    <h1 class="text-center" id="header">SportNet</h1>
    <form action="">
        <div class="input-container">
            <input class="form-control" type="email"
                   placeholder="输入邮箱" id="email">
        </div>
        <div class="input-container">
            <input class="form-control" type="text"
                   placeholder="输入用户名" id="name">
        </div>
        <div class="input-container">
            <input class="form-control" type="text"
                   placeholder="输入昵称" id="nickname">
        </div>
        <div class="input-container">
            <input class="form-control" type="password"
                   placeholder="输入密码" id="pw">
        </div>
        <div class="input-container">
            <input class="form-control" type="password"
                   placeholder="密码确认" id="verify_pw">
        </div>
        <div class="btn-container">
            <a href="/templates/login.html" id="login">登录</a>
            <input class="btn btn-default" type="submit"
                   value="注册" id="register">
            <label id="tip"></label>
        </div>
    </form>

    <script src="/res/js/jquery-3.1.1.min.js"></script>
    <script src="/res/js/bootstrap.min.js"></script>
    <script>
        var tip = $('#tip');

        function showTip(msg) {
            tip.css("display", "inline");
            tip.text(msg);
            setTimeout(function () {
                tip.css("display", "none");
            }, 2000);
        }

        $('#register').on('click', function (e) {
            e.preventDefault();

            //检查信息是否填写完整
            var email = $('#email').val();
            if(!email) {
                showTip("请填写邮箱地址");
                return;
            }

            var name = $('#name').val();
            if(!name) {
                showTip("请填写用户名");
                return;
            }

            var nickname = $('#nickname').val();
            if(!nickname) {
                showTip("请填写昵称");
                return;
            }

            var pw = $('#pw').val();
            if(!pw) {
                showTip("请填写密码");
                return;
            }

            var verify_pw = $('#verify_pw').val();
            if(!verify_pw) {
                showTip("请填写确认密码");
                return;
            }

            //检查密码与确认密码是否一致
            if(pw != verify_pw) {
                showTip("密码与确定密码不一致");
                return ;
            }

            $.ajax({
                url: '/controller/AccountController/register',
                method: 'post',
                data: {
                    'name': name,
                    'nickname': nickname,
                    'email': email,
                    'pw': pw
                },
                success: function (result) {
                    var vo = JSON.parse(result);
                    tip.css("display", "inline");
                    tip.text(vo.message);
                    if(!vo.success) {
                        setTimeout(function () {
                            tip.css("display", "none");
                        }, 2000);
                    }
                    else {
                        setTimeout(function () {
                            tip.css("display", "none");
                            window.location = "/templates/login.html";
                        }, 1000);
                    }
                }
            });
        });
    </script>
</body>
</html>
