<style>
    .msg-classification-header {
        margin: 20px;
    }

    .msg-container {
        margin: 20px 20px;
        padding: 10px;
        background-color: #eeeeee;
    }

    .msg-header {
        padding: auto 20px;
    }

    .msg-body {
        padding: auto 20px;
    }

    .msg-user-pic {
        width: 70%;
        height: 100px;
        margin: 10px 15%;
    }

    .msg-text {
        padding-top: 10px;
    }

    .msg-time {
        float: right;
    }
</style>

<section class="row" id="today">
    <h2 class="msg-classification-header">今日</h2>
</section>

<section class="row" id="history">
    <h2 class="msg-classification-header">历史</h2>
</section>

<script src="/res/js/jquery-3.1.1.min.js"></script>
<script src="/res/js/jquery.tmpl.min.js"></script>
<script>

    var template =
            '<div class="msg-container">' +
            '<div class="msg-header">' +
            '<span>您发表了动态</span>' +
            '<p class="msg-time">${time}</p>' +
            '</div>' +
            '<div class="row msg-body">' +
            '<div class="col-md-3 col-sm-3 col-xs-4 ">' +
            '<img class="msg-user-pic" src="/res/images/user_img.png" alt="头像">' +
            '<p class="text-center">${name}</p>' +
            '</div>' +
            '<div class="col-md-9 col-sm-9 col-xs-8">' +
            '<p class="msg-text">${content}</p>' +
            '</div>' +
            '</div>' +
            '</div>';

    function show(section, result) {
        var arr = JSON.parse(result);
        var len = arr.length;
        for(var i = 0; i < len; ++i) {
            $.tmpl(template, {
                "time": arr[i].time,
                "content": arr[i].content,
                "name": arr[i].publisher
            }).appendTo(section);
        }
    }

    //今日动态
    $.ajax({
        url: '/controller/TrackController/getTodayTracks',
        method: 'get',
        success: function (result) {
            show($('#today'), result);
        }
    });

    //历史动态
    $.ajax({
        url: '/controller/TrackController/getHistoryTracks',
        method: 'get',
        success: function (result) {
            show($('#history'), result);
        }
    });
</script>
