<style>
    .msg-classification-header {
        margin: 20px;
    }

    .msg-container {
        margin: 20px 20px;
        padding: 10px;
        background-color: #eeeeee;
    }

    .msg-header {
        padding: auto 20px;
    }

    .msg-body {
        padding: auto 20px;
    }

    .msg-user-pic {
        width: 70%;
        height: 100px;
        margin: 10px 15%;
    }

    .msg-text {
        padding-top: 10px;
    }

    .msg-time {
        float: right;
    }
</style>

<section class="row col-md-9" id="main-content">
    <section class="row">
        <h2 class="msg-classification-header">今日</h2>
        <div class="msg-container">
            <div class="msg-header">
                <span>您赞了李四的说说</span>
                <p class="msg-time">2016-10-2 20:00</p>
            </div>
            <div class="row msg-body">
                <div class="col-md-3">
                    <img class="msg-user-pic" src="/res/images/user_img.png" alt="头像">
                    <p class="text-center">李四</p>
                </div>
                <div class="col-md-9">
                    <p class="msg-text">今天跑了两公里</p>
                </div>
            </div>
        </div>

        <div class="msg-container">
            <div class="msg-header">
                <span>您评论了李四的说说：我也是！</span>
                <p class="msg-time">2016-10-2 20:00</p>
            </div>
            <div class="row msg-body">
                <div class="col-md-3">
                    <img class="msg-user-pic" src="/res/images/user_img.png" alt="头像">
                    <p class="text-center">李四</p>
                </div>
                <div class="col-md-9">
                    <p class="msg-text">今天跑了两公里</p>
                </div>
            </div>
        </div>

        <div class="msg-container">
            <div class="msg-header">
                <span>您发表了说说</span>
                <p class="msg-time">2016-10-2 20:00</p>
            </div>
            <div class="row msg-body">
                <div class="col-md-3">
                    <img class="msg-user-pic" src="/res/images/user_img.png" alt="头像">
                    <p class="text-center">张三</p>
                </div>
                <div class="col-md-9">
                    <p class="msg-text">今天跑了两公里</p>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <h2 class="msg-classification-header">历史</h2>
        <div class="msg-container">
            <div class="msg-header">
                <span>您赞了李四的说说</span>
                <p class="msg-time">2016-10-2 20:00</p>
            </div>
            <div class="row msg-body">
                <div class="col-md-3">
                    <img class="msg-user-pic" src="/res/images/user_img.png" alt="头像">
                    <p class="text-center">李四</p>
                </div>
                <div class="col-md-9">
                    <p class="msg-text">今天跑了两公里</p>
                </div>
            </div>
        </div>

        <div class="msg-container">
            <div class="msg-header">
                <span>您评论了李四的说说：我也是！</span>
                <p class="msg-time">2016-10-2 20:00</p>
            </div>
            <div class="row msg-body">
                <div class="col-md-3">
                    <img class="msg-user-pic" src="/res/images/user_img.png" alt="头像">
                    <p class="text-center">李四</p>
                </div>
                <div class="col-md-9">
                    <p class="msg-text">今天跑了两公里</p>
                </div>
            </div>
        </div>

        <div class="msg-container">
            <div class="msg-header">
                <span>您发表了说说</span>
                <p class="msg-time">2016-10-2 20:00</p>
            </div>
            <div class="row msg-body">
                <div class="col-md-3">
                    <img class="msg-user-pic" src="/res/images/user_img.png" alt="头像">
                    <p class="text-center">张三</p>
                </div>
                <div class="col-md-9">
                    <p class="msg-text">今天跑了两公里</p>
                </div>
            </div>
        </div>
    </section>
</section>

